html {
    -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  src: local('Lora'),
    url('../fonts/Lora-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Lora';
  font-weight: 500;
  src: local('Lora'),
    url('../fonts/Lora-SemiBold.ttf') format('ttf');
}

body {
    font-family: Lora, serif;
    line-height: 1.6;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#nav {
  position: fixed; /* Make it stick/fixed */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#content a {
    color: #1559b5;
    text-decoration: none;
}

#content a:hover {
    color: #40bbe1;
}

#article-title {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 1em;
}

#content h2 {
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 0.5em;
    padding-top: 1em;
}

#content h3 {
    font-weight: 500;
    font-size: 1.8rem;
    padding-bottom: 0.5em;
    padding-top: 1em;
}